.card {
  width: 300px;
  display: inline-block;
  margin: 10px;
}

.card-header {
  cursor: pointer;
}
.img-size{
  height : 15px;
}
.timer{
    margin-top: 15px;
    color: darkblue;
}

.card-header.correct {
    background: #51be51;
}

.card-header.incorrect {
    background: red;
}

.correct .card-header-title,
.incorrect .card-header-title {
    color: white;
}

.content table td, .content table th {
  border: 1px solid #dbdbdb;
  border-width: 0 0 0px;
  padding: .5em .75em;
  vertical-align: top;
  background-color: rgba(0,0,0, 0.4);
  background-size: cover;
}

.button.correct {
    background: #51be51;
}

.button.incorrect {
    background: red;
}

.background-img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: aquamarine;
}

.img-size-but{
  height : 30px;
  width: 40px;
}