.card {
  width: 300px;
  display: inline-block;
  margin: 10px;
}

.card-header {
  cursor: pointer;
}

.card-header.correct {
    background: #51be51;
}

.card-header.incorrect {
    background: red;
}

.correct .card-header-title,
.incorrect .card-header-title {
    color: white;
}

.content table td, .content table th {
  border: 1px solid #dbdbdb;
  border-width: 0 0 0px;
  padding: .5em .75em;
  vertical-align: top;
}