form {
  margin: 10px;
  width: 240px
}

.flashs {
  display: flex;
  flex-wrap: wrap;
}

.clear-btn {
  margin-left: 6.5px;
}

.flash-btn {
  margin-left: 7px;
}

table{
  width: 100%;
}

a{
  display: inline !important;
}
a.navbar-item {
    display: inherit !important;
}
select{
   width:214px;
}
.img-size{
  width:23.5%;
  max-width:23.5%;
  height:30%;
  margin-left:15px;
}



