<table>
  <tr  class="columns"> 
    <td  class="column is-one-thirds">
<form #flashForm="ngForm">
	<h1 class="is-size-3">{{editing ? 'Edit': 'Add New'}} Flash Card</h1>
	<div class="field">
		<label class="label" for="">Question</label>
    <div class="control">
      <input required class="input" type="text" name="question" #questionEl="ngModel" [ngClass]="{'is-danger': questionEl.invalid && !questionEl.pristine}" [(ngModel)]="flash.question">
    </div>
  </div>

    
  
  <div class="field">
    <span class="control" style ="display: inline-flex; align-items: center;">
      <input  [disabled]="flashForm.invalid" type="radio"  value ={{flash.answer1}} name="answer" #answerE1="ngModel" [ngClass]="{'is-danger': answerE1.invalid && !answerE1.pristine}" [(ngModel)]="flash.answer">
      <label for="" class="label" style="margin-left:10px;">Option 1 </label></span>
	<div class="control">
    <input required class="input" type="text" name="answer1" #answerEl="ngModel" [ngClass]="{'is-danger': answerEl.invalid && !answerEl.pristine}" [(ngModel)]="flash.answer1">
  </div>
  </div>
  

 
  <div class="field">
    <span class="control" style ="display: inline-flex; align-items: center;">
      <input   [disabled]="flashForm.invalid"  type="radio" value ={{flash.answer2}} name="answer" #answerE2="ngModel" [ngClass]="{'is-danger': answerE2.invalid && !answerE2.pristine}" [(ngModel)]="flash.answer">
      <label for="" class="label" style="margin-left:10px;">Option 2 </label></span>
    <div class="control">
      <input required class="input" type="text" name="answer2" #answerE2="ngModel" [ngClass]="{'is-danger': answerE2.invalid && !answerE2.pristine}" [(ngModel)]="flash.answer2">
    </div>
  </div>

  
  <div class="field">
    <span class="control" style ="display: inline-flex; align-items: center;">
      <input   [disabled]="flashForm.invalid" type="radio" value ={{flash.answer3}} name="answer" #answerE3="ngModel" [ngClass]="{'is-danger': answerE3.invalid && !answerE3.pristine}" [(ngModel)]="flash.answer">
      <label for="" class="label" style="margin-left:10px;">Option 3 </label></span>
    <div class="control">
      <input required class="input" type="text" name="answer3" #answerE3="ngModel" [ngClass]="{'is-danger': answerE3.invalid && !answerE3.pristine}" [(ngModel)]="flash.answer3">
    </div>
  </div>
 
  
  <div class="field">
    <span class="control" style ="display: inline-flex; align-items: center;">
      <input  [disabled]="flashForm.invalid"  type="radio" value ={{flash.answer4}} name="answer" #answerE4="ngModel" [ngClass]="{'is-danger': answerE4.invalid && !answerE4.pristine}" [(ngModel)]="flash.answer">
      <label for="" class="label" style="margin-left:10px;">Option 4 </label></span>
    <div class="control">
      <input required class="input" type="text" name="answer4" #answerE4="ngModel" [ngClass]="{'is-danger': answerE4.invalid && !answerE4.pristine}" [(ngModel)]="flash.answer4">
    </div>
  </div>
  <button *ngIf="editing; else submitBtn" class="button is-primary" type="submit" (click)="handleUpdate()" [disabled]="flashForm.invalid">Update</button>
  <ng-template #submitBtn>
<button  class="button is-primary" type="submit" (click)="handleSubmit()" [disabled]="flashForm.invalid">Submit</button>
  </ng-template>
  <button *ngIf="editing; else clearBtn" class="button clear-btn" (click)="handleCancel()">Cancel</button>
  <ng-template #clearBtn>
    <button *ngIf="Clear; else Flashes" class="button clear-btn" (click)="handleClear()">Clear</button>
  </ng-template>

  <button class="button clear-btn" (click)="handleReset()">Reset</button>
  <ng-template #Flashes>
  <button class="button flash-btn" (click)="handleGet()">Flashes</button>
   </ng-template>
</form>
</td>
<td class="column">
  <div class="segments">
    <div class="country" *ngIf="countries$ | async as countries">
      <select (ngModelChange) = "handleOption($event)" class="segments" [(ngModel)] = "selectedCountry">
        <option [ngValue]="'All'" selected>All</option>
        <option *ngFor="let country of countries" [ngValue] = "country" >
         {{country.countryDetail.countryName}}
        </option>
        
        </select>
      </div>

      <div class="country">
        <select (ngModelChange) = "handleOption($event)" class="segments" [(ngModel)] = "selectedItem">
          <option [ngValue]="'All'" selected>All</option>
          <option [ngValue] = "Capital">Capital</option>
          <option [ngValue] = "Language">Language</option>
          <option [ngValue] = "Flag">Flag</option>
          </select>
        </div>
  </div>
</td>
<td class="column">
  <div class="score" >
    <app-score
    [totalCount] = "maxScore"
    [yourCount] = "yourScore"
    ></app-score>
  </div>
</td>
</tr>
</table>
<br>
<br>
<div class="flashs" *ngIf="flashs$ | async as flashs">
  <app-flash
    *ngFor="let flash of flashs; trackBy trackByFlashId"
    [flash]="flash"
    [flag]="flag"
    (toggleCard)="handleToggleCard($event)"
    (delete)="handleDelete($event)"
    (edit)="handleEdit($event)"
    (rememberedChange)="handleRememberedChange($event)"    
  ></app-flash>
</div>